@font-face {
  font-family: Avenir, sans-serif;
  src: url(./fonts/Avenir-Book.ttf) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Avenir, sans-serif;
  src: url(./fonts/Avenir-Heavy.ttf) format('woff2');
  font-weight: 900;
}
